body {
  margin: 1%;
  background-color: #fafafa;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_overflow/CSS_carousels*/
ul {
  width: 100vw;
  height: 100%;
  padding: 10px;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  text-align: center;
}

li {
  list-style-type: none;

  flex: 0 0 280px;

  height: 100%;
  width: 200px;
  background-color: rgba(255, 166, 0, 0.305);
  border: 1px solid #e8e8e8;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li:nth-child(even) {
  background-color: #b9dde77e;
}

ul::column {
  scroll-snap-align: center;
}

ul::column::scroll-marker {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
}

ul::column::scroll-marker:target-current {
  background-color: black;
}

.movieCarousel {
  height: 100%;
  width: 100%;
}

li h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: bolder;
}
li p {
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: bolder;
  color: #2e2e2e;
}
nav {
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: #f9e1839e;
  height: 2.7vw;
  width: 100vw;
  font-weight: bolder;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: #2e2e2e;
}

button {
  background-color: #f9e183c8;
  border-color: #f9e183c8;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  padding: 1%;
}

form {
  width: 100%;
  margin: 0 0 auto;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 16px;
}

form.add-movie, form.edit-movie {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f9e18359;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  gap: 0px;
}

input, textarea, select {
  font-family: inherit;
}

form input, form textarea {
  width: 100%;
  padding: 3px;
  margin-bottom: 1px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box; 
}

form label {
  margin-bottom: 0%;
  font-weight: bold;
}